.breadCrumbs{
    display: flex;
    justify-content: start;
    font-size: 12px;
    margin-bottom: 12px;
}

a{
    color: #006bb4;
}
span{
    margin: 0px 10px;
}

.breadCrumbs__item:last-child span{
    display: none;
}

.breadCrumbs__item:last-child a{
    color:black;
}
