.header__navigation{
    height: 54px;
    width: 100%;
    margin-bottom: 25px;
    
    display: flex;
    justify-content: center;
    
    color: #575757;
    background-color: #f0f0f0;
}

.navigationContainer{
    width: 1250px;
}

ul {
    padding: 0;
    margin:0;

    list-style:none;
}
  
ul li{
    padding: 0px 12px;
    
    display:block;
    position:relative;
    float:left;

}
  
li ul {
    display:none;
}
  
ul li a {
    padding: 1em; 
   
    display: block;

    text-decoration: none;
    white-space: nowrap;
    color: #333; 
}
  
li:hover > ul {
    margin-left:-12px;

    display: block;
    position: absolute;
    
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19); 
}
  
li:hover li {
    height: 34px;
    width: 204px;
    
    display: flex;
    align-items: center;

}

ul li:hover{
    background-color: #e8e8e8;
}
  
ul ul ul {
    left: 240px;
    top: 0;
}

ul ul ul li:hover{
    background-color: #e8e8e8; 
}
  
  