.header__navigation{
    position: absolute;
    top:0;

    height: 100vh;
    left:-800px;
}

.mobileNav{
    left:0;

    z-index: 100;
    width: 90%;

    background: #ffffff;
}

.navigation{
    list-style: none;

    color: #333333;

    font-weight: 700;
}

.firstLevelNav li{
    list-style: none;
}

.secondLevelNav{
    list-style: none;
}

.secondLevelNav li{
    list-style: none;
}

ul p{
    color: #333333;
}

@media screen and (min-width: 767px) {

    .header__navigation{
        position: unset;
        height: 47px;
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        
        color: #575757;
        background-color: #f0f0f0;

        font-size: 14px;
        font-weight: 700
    }

    .navigationContainer{
        z-index: 100;

        display: flex;
        align-items: center;
        width: 1250px;
    }

    .navigationButton{
        height: 100%;
        width: 100%;
    }

    ul {
        padding: 0;
        margin:0;

        list-style:none;
    }
    
    ul li{
        position:relative;
        
        height: 100%;
        padding:  12px ;
        display:block;
        float:left;
    }
    .firstLevelNav:hover{
        border-bottom: 3px solid #ff5501;
        padding-bottom: 9px;
    }

    li ul {
        display:none;
    }

    .secondLevelNav:hover{
        display: flex;

        align-items: center;
        border-left: 3px solid #ff5501;
        padding-left: 9px;
    }
    .navigation__arrowRight{
        position: absolute;
        right:5px;
        
        margin: 2px;
    }
    
    ul li p {
        display: block;

        color: #333; 

        text-decoration: none;
        white-space: nowrap;
    }

    .navigation__arrowDown{
        margin: 0px 5px ;
    }
    
    li:hover > ul {
        position: absolute;
        
        margin-left:-12px;
        display: block;
        border: 1px solid #ccc;
        box-shadow: 0 5px 5px rgba(0,0,0,0.19); 
        
        background: #ffffff;
    }
    
    li:hover li {
        height: 12px;
        width: 206px;
        display: flex;
        align-items: center;
    }

    ul li:hover{
        background-color: #e8e8e8; 
    }
    ul li ul{
        position: absolute;
        top:43px;
    }
    
    ul ul ul {
        left: 240px;
        top: 0;
    }

    ul ul ul li:hover{
        background-color: #e8e8e8; 
    }
    
}