.header__panel{
    display: none;
}



@media screen and (min-width: 767px) {
    .header__panel{
        width: 100%;
        display: flex;
        justify-content: center;
    
        background-color: #6e716e;
    
        font-size: 14px;
    }

    .panelContainer{
        height: 22px;
        width: 1240px;
        margin: 0;
        padding: 10px 20px 10px 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        color: white;
        background-color: #6e716e;
    }

    .panelContainer__item{
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;

        color:white;

        text-decoration: none;
    }
}