.categoryProducts{
    width: 100%;

    color: #333333;
}

.categoryProductsMainContainer{
    display: flex;
}

.categoryProducts__sideBar{
    display: none;
}

.categoryProducts__sideBar--header{
    padding: 10px 10px 20px;
    border-bottom: 1px solid #cccccc;

    font-weight: 600;
}

.sidebarFilter{
    margin-bottom: 40px;
}

.sidebarMenu__firstLevel{
    margin: 0;
    padding: 10px 40px 0 10px;
    border-bottom: 1px solid #cccccc;
    
    font-weight: 600;
}

.sidebarMenu__secondLevel{
    margin: 10px 0;

    font-weight: 400;
}

.sidebarMenu__span{
    padding: 0 5px 0 5px;
    margin: 0;
   
    color: #757575;

    font-weight: 300;
}

.categoryProducts__products{
    display: grid;
    height: 100%;
    margin-bottom: 30px;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: 570px;
    grid-row-gap: 10px;
}
@media screen and (min-width: 520px) {
    .categoryProducts__products{
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (min-width: 780px) {
    .categoryProducts__products{

        grid-template-columns: repeat(3, 250px);
    }
}

@media screen and (min-width: 1020px) {
    .categoryProducts__sideBar{
        display: flex;
        flex-direction: column;
        width: 225px;
        margin-right: 25px; 
    
        font-size: 14px; 
    }
}

@media screen and (min-width: 1250px) {
    .categoryProducts{
        width: 1250px;
    }

    .categoryProducts__products{
        grid-template-columns: repeat(4, 250px);

    }
} 