.cmsHeading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cmsHeading::before{
    position: relative;
    top: 70px;
    
    height: 1px;
    width: 100%;
    display: block;
    
    background: radial-gradient(ellipse at center, #fff 25%, #cecece 100%);

    content: '';
}

.cmsHeading__header{
    margin-bottom: 5px;
    z-index: 20;

    font-size: 38px;
    font-weight: 300;
}

.cmsHeading__paragraph{
    margin:0;
    
    font-size: 18px;
}