a{
    color: #000000;

    text-decoration: none;
}

.productClothPreview{
    border: 1px solid #FFFFFF;
}

.productClothPreview:hover{
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19); 
}

.productClothPreview__name{
    display: inline;

    font-size: 14px;
}

.productClothPreview__name:hover{
    color: #000000
}

.productClothPreview__price{
    margin: 10px 0 25px 0;

    color: #000000;
    
    font-size: 14px;
    font-weight: 700;
}

.productClothPreview__price--label{
    font-size: 12px;

    color: #666;
}

.productClothPreview__size{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(2, 40px);
}

.productClothPreview__color{
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
}



.productClothPreview__color--block:hover{
    /* TODO */
}

