a{
    color: #000000;

    text-decoration: none;
}
.productNonClothPreview{
    border: 1px solid #FFFFFF;
}

.productNonClothPreview:hover{
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19); 
}

.productNonClothPreview__name{
    display: inline;

    font-size: 14px;
}

.productNonClothPreview__name:hover{
    color: #000000
}

.productNonClothPreview__price{
    margin: 10px 0 25px 0;

    color: #000000;
    
    font-size: 14px;
    font-weight: 700;
}

.productNonClothPreview__price--label{
    color: #666;

    font-size: 12px;
}