.productMedia{
    width: 700px; 
    margin-right: 40px;
    margin-bottom: 130px;
    
}

.mediaContainer{
    position: relative;
    margin-bottom: 10px;
    
}
.imgsContainer{
    position: relative;
    width: 700px;
    height: 700px;
    overflow: hidden;
}

.imgsContainer__carousel{
    position: absolute;
    display: flex; 
    transition: 0.3s;
    left:0px;
}

.nextImg{
    left: -700px;
}



.mediaContainer__firstButton{
    position: absolute;
    left: 0;
    top:350px;
    opacity: 0;
    font-size: 80px;
    transition:  0.3s;
}

.mediaContainer__secondButton{
    position: absolute;
    right: 0;
    top:350px;
    opacity: 0;
    font-size: 80px;
    transition:  0.3s;
}

.mediaContainer:hover .mediaContainer__firstButton{
    opacity: 1;
    left:40px;
    cursor: pointer;  
}

.mediaContainer:hover .mediaContainer__secondButton{
    opacity: 1;
    right:40px;
    cursor: pointer;  
}

.productMedia__navigation{
    position: absolute;
    display: flex;
    
}

.productMedia__navigation--imgs{
    position: absolute;
}

.productMedia__navigation--border{
    height: 110px;
    width: 88px;
    position: absolute;
    border: 2px solid #ff5501;
    margin: 0px;
    left:0px;
    transition:  0.3s;

}

.nextNavImg{
    left:88px;
}