.productMedia{
    width: 700px; 
    margin-right: 40px;
    margin-bottom: 130px;
}

.mediaContainer{
    position: relative;
    
    margin-bottom: 10px;
}
.imgsContainer{
    position: relative;
    width: 700px;
    height: 700px;
    overflow: hidden;
}

.imgsContainer__carousel{
    position: absolute;
    left:0px;
   
    display: flex; 

    transition: 0.3s;
}

.nextImg{
    left: -700px;
}

.mediaContainer__firstButton{
    position: absolute;
    left: 0;
    top:350px;

    font-size: 80px;

    opacity: 0;
    transition:  0.3s;
}

.mediaContainer__secondButton{
    position: absolute;
    right: 0;
    top:350px;

    font-size: 80px;

    opacity: 0;
    transition:  0.3s;
}

.mediaContainer:hover .mediaContainer__firstButton{
    left:40px;

    opacity: 1;
    cursor: pointer;  
}

.mediaContainer:hover .mediaContainer__secondButton{
    right:40px;

    opacity: 1;
    cursor: pointer;  
}

.productMedia__navigation{
    position: absolute;
   
    display: flex;
}

.productMedia__navigation--imgs{
    position: absolute;
}

.productMedia__navigation--border{
    position: absolute;
    left:0px;

    height: 110px;
    width: 88px;
    border: 2px solid #ff5501;
    margin: 0px;
    
    transition:  0.3s;
}

.nextNavImg{
    left:88px;
}