.thirdBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    grid-area: thirdBlock;

    background-color: #ffdd16;
}

.thirdBlock__imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdBlock__imgContainer--img{
    margin-left: 45px;
}

.thirdBlock__contentContainer{
    margin: 25px 35px 35px 35px
}

.thirdBlock__contentContainer--title{
    margin-bottom: 15px;
    
    font-size: 32px;
    font-weight: 300;
}

.thirdBlock__contentContainer--info{
    margin-bottom: 20px;
    
    font-size: 22px;
    font-weight: 300;
}