.productDataItems{
    margin-bottom: 20px;
}

.productDataItems__labels{
    display: flex;

    font-size: 14px;
}

.productDataItems__labels--label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 1px 35px;
    border: 1px solid #cccccc;
    margin: 0px;

    color: #6d6d6d;
    background: #f6f6f6;
}

.productDataItems__content{
    height: auto;
    padding: 35px;
    border: 1px solid #cccccc;

    font-size: 14px;
}

.moreInformationContainer{
    display: flex;
}

.moreInformationContainer__categories{
    width: 80px;

    font-weight: 700;
}

.moreInformationContainer__categories--item{
    padding: 5px 0 10px;
}

.reviewsInfoContainer{
    display: flex;
    flex-direction: column;
}

.reviewsInfoContainer__header{
    font-size: 26px;
    font-weight: 300;
}
