p{
    margin:0;
}

.sixthBlock{
    position: relative;

    width: 100%;
    height: 100%;
    grid-area: sixthBlock;
}

.sixthBlock__content{
    position: absolute;
    top: 45px;
    right: 45px;

    width: 65%;
    padding: 20px;

    background-color: rgba(255,255,255,0.9);
}

.sixthBlock__content--title{
    margin-bottom: 15px;

    font-size:32px;
    font-weight: 300;
}

.sixthBlock__content--info{
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: 300;
}